log/*.log
tmp/**/*
tmp/*
.DS_Store
nbproject
doc/api
doc/app
coverage
config/database.yml
db/schema.rb
*swp
public/stylesheets/compiled/*
db/development_structure.sql
*.orig
**/*.orig
vendor/plugins/query_trace
vendor/plugins/query_reviewer
src/.sass-cache/*