
a { color: #0985A1 }
a:link { color:  #0985A1}
a:visited { color: #0985A1}
a:hover { color: #0985A1 }

body,ol, ul, td, span {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  text-indent: 8px;
}
#menu_new
{
    background-color: white;
    text-indent: 8pt; 
}

#login-information
{
    text-align: left;
    font-size: small;
    color: black;
    text-indent: 8pt;
}
#novos_campos
{
   
    background-color: white;
    text-indent: 8pt;
    margin-left: 10px;
}

#tabelas
{
   
    background-color: white;
    text-indent: 8pt;
    margin-left: 10px;
}

#menu_new a:hover
{
  color: white
}

#menu_new a
{
  color: white
}

#item
{
    text-indent: 8pt;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#content
{
    text-align: left;
    background-color: white;
    left: 4pt;
    top: inherit;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;   
    position: static;
    clip: rect(0px, 0px, 0px, 0px);
    margin-right: 65px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 15px;
}
#menu
{
  color: black;
  padding: 10px;
}
#footer
{
   
    text-align: center;
    vertical-align: text-top;
}
pre
{
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  text-indent: 6px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.links_menu {
background-color:#A5D0E4;
border:0 solid #000000;
left:0;
position:absolute;
top:0;
visibility:hidden;
}
a.links_plain:link, a.links_plain:visited {
background-color:#A5D0E4;
border:0 solid #000000;
color:#000000;
display:block;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
padding:2px 0;
text-align:left;
text-decoration:none;
}
a.links_plain:hover, a.links_plain:active {
background-color:#CFDFE4;
border:0 solid #000000;
color:#000000;
display:block;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
padding:2px 0;
text-decoration:none;
}
