<p>
  <%= f.label "Cliente" %><br>
  <%= text_field_with_auto_complete :cliente, :nome %>
</p>

<p>
  <%= f.label :data_pedido %><br>
  <%= f.date_select :data_pedido, :order=> [:day, :month, :year] %>
</p>

<p>
  <%= f.label :data_entrega %><br>
  <%= f.date_select :data_entrega, :order=> [:day, :month, :year] %>
</p>
